@(form: Form[Article])


@main("Neuer Artikel") {


    <div class="container"><!-- container -->
        <h1>Neuer Artikel</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form action="@routes.ArticleController.add" method="POST" class="form-horizontal row-border" style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                            @if(form.hasGlobalErrors) {
                                <div class="alert alert-dismissable alert-danger">
                                    @form.globalError.message
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            }

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Titel</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Inhalt</label>
                                <div class="col-sm-6">
                                    <textarea id="content" name="content" class="form-control autosize" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Veröffentlichungsdatum</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="publicationDate" name="publicationDate" >
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <p class="help-block">TT.MM.JJJJ</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Artikeltyp</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="typeSwitch" id="typeUser" value="user">
                                            Training
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="typeSwitch" id="typeMaschine" value="maschine">
                                            Bewertung
                                        </label>
                                    </div>
                                    <p class="help-block">Wählen Sie <strong>"Training"</strong>, wenn der Artikel durch Benutzer bewertet werden soll.
                                        Wenn der Artikel durch das neuronale Netz bewertet werden soll wählen Sie <strong>"Bewertung"</strong></p>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-primary btn-default" type="submit">Speichern</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



}