@(article: Article)

@main("Artikelliste") {

    <div class="container"><!-- container -->
        <h1 style="float:left">@article.title</h1>
        <div><h1 style="text-align: right">@article.publicationDate.format("dd MMMM yyyy")</h1></div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body collapse in">
                        @Html(article.content)
                        <div class="panel-footer">
                             <div class="pull-right">
                                <a href="javascript:;" class="deleteModal-@article.id btn btn-danger-alt">Artikel löschen</a>
                                <a href="javascript:;" class="rateModal-@article.id btn btn-default">Artikel bewerten</a>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $('.deleteModal-@article.id').click(function(){
                                bootbox.confirm("<h3>Wollen Sie diesen Artikel wirklich löschen?</h3><br><div class='alert alert-dismissable alert-danger'>Bitte beachten Sie, dass alle Bewertungen zu diesem Artikel ebenfalls gelöscht werden!</div>", function(result) {
                                    if (result){
                                        window.location.href =  "@controllers.routes.ArticleController.delete(article.id)"
                                    }
                                });
                            });

                            $('.rateModal-@article.id').click(function(){
                                bootbox.confirm("<h3>Bewertung durch neuronales Netz</h3><br><div class='alert alert-dismissable alert-success'>Der Blogeintrag wurde als <strong>positiv</strong> eingestuft!</div>", function(result) {
                                    if (result){
                                        window.location.href =  "@controllers.routes.ArticleController.delete(article.id)"
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
