@(articles: List[Article])

@main("Artikelliste") {

    <div class="container"><!-- container -->
        <h1>Artikel in der Datenbank</h1>
        <div class="row">
              @articles.map { article =>
                  @views.html.article(article)
              }
        </div>
        <a href="@controllers.routes.ArticleController.newarticle" class="btn btn-default">Neuer Artikel</a>
        <a href="@controllers.routes.ArticleController.deleteAll" class="btn btn-default">Alle Löschen</a>

        <script type="text/javascript" src="assets/plugins/form-toggle/toggle.min.js"></script>


    </div>
}