
@main("Willkommen") {
    <div class="container"><!-- container -->

        <h1>RapidReckon - Erkennen Sie soziale Tends vor der Konkurrenz!</h1>

        <div class="panel panel-primary">
            <div class="panel-body">
                <h3>Herzlich Willkommen!</h3>
                <p>Du hast dich erfolgreich bei uns registriert und kannst nun loslegen. Im Folgen erfährst du was du vorher wissen solltest.</p>

                <h3>Wer sind wir?</h3>
                <p>Wir sind ein junges dynamisches Unternehmen, dass es sich zum Ziel gesetzt hat Unternehmen durch soziale Tredanalyse zu unterstützen. Eine mögliche Anwendung für Unternehmen ist die bessere Kontrolle von Marketingmaßnahmen. Sie erhalten so einen Überblick, wie Ihre Marketing-Maßnahmen in der online-Welt ankommen.</p>

                <h3>Warum brauchen wir deine Hilfe?</h3>
                <p>Wir verwenden einen intelligenten lernfähigen Algorithmus der selbständig Blogeinträge bewerten kann. Er soll also dieselbe Aufgabe durchführen, die du zunächst übernehmen sollst. Du fragst dich wozu wir dich dann brauchen? Der Algorithmus muss erst trainiert werden, damit er ein Gefühl dafür bekommt was eine gute- bzw. eine schlechte Stimmung ist. An dieser Stelle kommst du ins Spiel. Du kannst von Natur aus die Stimmung in einem Beitrag bewerten. Haben wir genug menschliche Daten können wir auf Basis dieser unseren Algorithmus trainieren und fortan automatische Bewertungen vornehmen.</p>

                <h3>Was hast du davon?</h3>
                <p>Du sammelst mit jeder Bewertung Punkte und kannst diese ab einer bestimmten Summe gegen eine große Auswahl an Prämien eintauschen. Oben rechts in der Menüleiste wird dir dein aktueller Punktestand angezeigt. Klicke auf <strong>Punkte einlösen</strong> im linken Menü um zu sehen welche Prämien dich erwarten.</strong></p>

                <h3>Was musst du dafür tun?</h3>
                <p>Nichts weiter als rechts im Menü auf <strong>Artikel bewerten</strong> klicken und schon kannst du anfangen Artikel zu bewerten. Solltest du mit einem Eintrag nichts anfangen können klicke einfach auf <strong>Artikel überspringen</strong> und schon kannst du mit dem nächsten fortfahren. Beachte, dass du einen Artikel erst nach einer gewissen Zeit abschicken kannst! So wollen wir verhindern, dass Benutzer Punkte sammeln ohne den Artikel wirklich gelesen zu haben.</p>

                <h3>Lade Freunde ein und sammle dadurch weitere Punkte</h3>
                <dl class="dl-horizontal" style="font-size:15px;">
                    <dt class="fa  fa-twitter"></dt>
                    <dd><a>Twitter</a></dd>

                    <dt class="fa  fa-facebook"></dt>
                    <dd><a>Facebook</a></dd>

                    <dt class="fa  fa-google-plus"></dt>
                    <dd><a>Google +</a></dd>

                    <dt class="fa  fa-envelope"></dt>
                    <dd><a>E-Mail</a></dd>
                </dl>
            </div>
        </div>
    </div>

}