
@main("Willkommen") {
    <div class="container"><!-- container -->

        <h1>Willkommen - Prototyp 0.1</h1>

        <div class="panel panel-primary">
            <div class="panel-body">
                <h3>Erste Version! Zur Zeit funktioniert:</h3>
                <ul>
                    <li>Artikelliste (zeigt alle Artikel in der Datenbank)</li>
                    <li>Neue Artikel anlegen</li>
                    <li>Login/Logout (Nur ein User in der Datenbank, Registrierung noch nicht möglich)</li>
                </ul>

                <h3>ToDo:</h3>
                <ul>
                    <li>five heads Logo entwerfen!</li>
                </ul>
            </div>
        </div>
    </div>

}