@main("Prämie einlösen") {
<div class="container"><!-- container -->

        <div id="statOptions">
            <div class="btn-toolbar">
                <div class="btn-group hidden-xs">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-sm"> Exportieren</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Text File (*.txt)</a></li>
                        <li><a href="#">Excel File (*.xlsx)</a></li>
                        <li><a href="#">PDF File (*.pdf)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>Stichwort Statistik</h1>


    <div class="panel panel-primary">
        <div class="panel-body">


            <div class="form-group">
                <div class="col-sm-6">
                    <h3>Wählen Sie ein Stichwort</h3>
                    <select class="form-control" id="source">

                        <option value="AK">Apple iPhone 4</option>
                        <option value="HI">Apple iPhone 5s</option>
                        <option value="HI">Samsung Galaxy S4</option>

                    </select>
                </div>
                <div class="col-sm-6">
                    <h3>Wählen Sie den Betrachtungszeitraum</h3>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-daterange input-group" id="datepicker3">
                                <input type="text" class="input-small form-control" name="start">
                                <span class="input-group-addon">bis</span>
                                <input type="text" class="input-small form-control" name="end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class=".col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-body">

                    hier
                    <div id="myfirstchart" style="height: 250px;"></div>

                </div>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css">
<link rel="stylesheet" type="text/css" href="assets/plugins/form-daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" type="text/css" href="assets/plugins/form-datepicker/datepicker.css">
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

<script type="text/javascript" src="assets/plugins/form-daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="assets/plugins/form-datepicker/bootstrap-datepicker.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

<script type="text/javascript">

    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { year: '2008', value: 20 },
            { year: '2009', value: 10 },
            { year: '2010', value: 5 },
            { year: '2011', value: 5 },
            { year: '2012', value: 20 }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'year',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Value']
    });


    $(function() {
        $( "#datepicker3 input" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>

}