@(title: String, notification: Html = null)(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>fiveheads - @title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Avant">
	<meta name="author" content="five heads solutions">

    <!-- <link href="assets/less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">

	<!-- The following CSS are included as plugins and can be removed if unused-->
    <link rel="stylesheet" type="text/css" href="/assets/js/jqueryui.css">

    <!-- <script type="text/javascript" src="assets/js/less.js"></script> -->
    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqueryui-1.10.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/js/enquire.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
    <script type="text/javascript" src="/assets/js/AppHelper.js"></script>

</head>

<body class="">

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="@controllers.routes.Application.index">Five Heads Solutions</a>
        </div>

        <ul class="nav navbar-nav pull-right toolbar">
        	<li class="dropdown">
        		<a href="extras-blank.php.html#" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">@ctx.session().get("email")<i class="fa fa-caret-down"></i></span></a>
        		<ul class="dropdown-menu userinfo arrow">
        		    <li class="userlinks">
        				<ul class="dropdown-menu">
        					<li class="divider"></li>
        					<li><a href="@controllers.routes.Application.logout" class="text-right">Sign Out</a></li>
        				</ul>
        			</li>
        		</ul>
        	</li>
            <li><a href="" class="username"><span class="hidden-xs">Dein Punktestand:</span> <span class="badge badge-primary">@User.findByEmail(ctx.session().get("email")).points</span></a></li>
		</ul>

    </header>

    <div id="page-container">
        <nav id="page-leftbar" role="navigation">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="acc-menu" id="sidebar">

                <li><a href="@controllers.routes.Application.index"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                <li><a href="@controllers.routes.RatingController.rating"><i class="fa fa-star-half-empty"></i><span>Artikel bewerten</span></a></li>
                <li class="divider"></li>
                <li><a href="@controllers.routes.ArticleController.articlelist"><i class="fa fa-list"></i><span>Artikelliste</span></a></li>
                <li><a href="@controllers.routes.UserController.userlist"><i class="fa fa-group"></i><span>Benutzermanagement</span></a></li>
                <li><a href="@controllers.routes.KeywordController.keywordStats"><i class="fa fa-bar-chart-o"></i><span>Stichwort Statistik</span></a></li>
                <li class="divider"></li>
                <li><a href="@controllers.routes.WekaController.options"><i class="fa fa-gears"></i><span>WEKA Optionen</span></a></li>

            </ul>
            <!-- END SIDEBAR MENU -->
        </nav>


        <div id="page-content">
            <!-- BEGIN page-content -->
            <div id="wrap">

                <div class="container">

                    <!-- Benachrichtigungen werden hier per jQuery eingefügt  -->
                    <div id="notificationBar" class="container">
                        @if(ctx().args.containsKey("alert-success")){
                            <div class="alert alert-dismissable alert-success">
                                @ctx.args.get("alert-success")
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }

                        @if(ctx().args.containsKey("alert-danger")){
                            <div class="alert alert-dismissable alert-danger">
                                @ctx.args.get("alert-danger")
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                    </div>

                    @content

                </div>

            </div>
            <!-- END page-content -->
        </div>

    <footer role="contentinfo">
        <!-- BEGIN FOOOTER -->
        <div class="clearfix">
            <ul class="list-unstyled list-inline">
                <li>five head solutions &copy; 2013</li>
                <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
            </ul>
        </div>
        <!-- END FOOTER -->
    </footer>

</div> <!-- page-container -->

</body>
</html>