@main("WEKA Optionen") {
<div class="container"><!-- container -->

    <h1>WEKA(neuronales Netz) Steuerung</h1>

    <div class="panel panel-primary">
        <div class="panel-body">
            <h3>Optionen</h3>

            <p>
                Beschreibung was dieser Knopf tut!
                <div><a href="@controllers.routes.WekaController.options?import=true" class="btn btn-default">Arff File Importieren</a></div>
            </p>

            <p>
                Beschreibung was dieser Knopf tut!
                <div><a href="@controllers.routes.WekaController.options?learn=true" class="btn btn-default">Trainieren</a></div>
            </p>
        </div>
    </div>
</div>

}